.content {
  display: flex;
  flex-flow: column;
  gap: var(--spacing-md);
  text-align: center;
  align-items: center;
}

.content__paragraph {
  margin-bottom: var(--spacing-sm);
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
