/* QUIZ */

.quiz {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-md);
  margin-top: var(--spacing-md);
}

/* STEPPER */

.stepper__list-of-indicators {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xs);

  list-style: none;
}

.stepper__indicator {
  color: var(--color-white);
}

.stepper__indicator--correct {
  color: var(--color-correct);
}

.stepper__indicator--incorrect {
  color: var(--color-incorrect);
}

/* TIMER / ANSWER REVEAL */

#timeRemaining {
  background: var(--gradient-linear-horizontal);
  background-clip: text;
  color: transparent;
}

.stepper-readout,
.answer__timer {
  color: var(--color-gray-dark);
}

.answer__continue {
  color: var(--color-correct);
}

.answer__continue--incorrect {
  color: var(--color-incorrect);
}

/* BUTTONS */

#answer-options {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-sm);
}

.answer-option {
  padding: 1rem 2rem;
  border: 3px solid var(--color-black-absolute);
  border-radius: 1.5rem;
  cursor: pointer;
  background-color: var(--color-white);
}

.answer__button--selected {
  background-color: var(--color-black-absolute);
  color: var(--color-white);
}

.answer__button--correct {
  box-shadow: 0 0 0 5px var(--color-correct);
  border-color: var(--color-correct);
}

.answer__button--incorrect {
  box-shadow: 0 0 0 5px var(--color-incorrect);
  border-color: var(--color-incorrect);
}

.loader {
  width: 60px;
  height: 60px;
  border: 7px solid rgba(19, 176, 245, 0.15);
  border-bottom-color: #9747FF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
