/* STEPPER */

.stepper {
  font-size: var(--font-size-sm);
  color: var(--color-gray-dark);
}

#progress {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xs);
}

.progress-answer--unanswered {
  color: var(--color-white);
}

.progress-answer--correct {
  color: var(--color-correct);
}

.progress-answer--incorrect {
  color: var(--color-incorrect);
}

/* TIMER / ANSWER REVEAL */

.stepper-readout,
.countdown {
  color: var(--color-gray-dark);
}

.countdown {
  height: 1.625rem;
}

.countdown--correct {
  color: var(--color-correct);
}

.countdown--incorrect {
  color: var(--color-incorrect);
}

#countdown-time {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-variant-numeric: tabular-nums;
  border-radius: 0.25rem;
  width: 1.75rem;
  height: 1.625rem;
  background: var(--gradient-linear-horizontal);
  color: var(--color-white);
}

#question-text {
  max-width: var(--max-width-md);
  min-height: calc(3 * 1.33em);
  /* 3 x line-heigh */
}

/* BUTTON CONTAINER */

#answer-options {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-sm);
  width: 100%;
  max-width: calc(2 * 15rem + var(--spacing-sm));
}

#answer-options.answered .answer-option {
  pointer-events: none;
}

/* BUTTONS */

.answer-option input {
  display: none;
}

.cta.cta-inverted.answer-option--selected {
  background-color: var(--color-black-absolute);
  color: var(--color-white);
}

.answer-option--correct {
  box-shadow: 0 0 0 4px var(--color-correct);
  border-color: var(--color-correct);
}

.answer-option--selected.answer-option--correct {
  animation: correctAnimation .3s cubic-bezier(.36, .07, .19, .97) both;
  transform: scale(1);
}

.answer-option--incorrect {
  box-shadow: 0 0 0 4px var(--color-incorrect);
  border-color: var(--color-incorrect);

  animation: wrongAnimation .4s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes correctAnimation {
  20%,
  70% {
    transform: scale(0.98);
  }
  40%,
  60% {
    transform: scale(1.04);
  }
}

@keyframes wrongAnimation {
  30%,
  50%,
  70% {
    transform: translate3d(2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(-3px, 0, 0);
  }
}

/* SPINNER */

#loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
}

.loading-text {
  font-size: var(--font-size-heading-md);
  margin-bottom: var(--spacing-md);
}

.loader {
  width: 60px;
  height: 60px;
  margin: var(--spacing-lg) auto;
  border: 7px solid rgba(19, 176, 245, 0.15);
  border-bottom-color: #9747ff;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s cubic-bezier(.17,.67,.83,.67) infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* OVERLAY */

#ready-next {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

#ready-next:not(.hidden) {
  z-index: 1000;
  cursor: pointer;
  pointer-events: all;
}
