@import url(./reset.css);
@import url(./variables.css);
@import url(./quiz.css);
@import url(./helper.css);

/* GLOBAL */

body {
  margin: var(--spacing-sm);

  font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: var(--color-background);
}

header {
  margin-top: var(--spacing-xl);
  text-align: center;
}

h2 {
  font-weight: 600;
}

h4 {
  font-weight: 400;
  color: var(--color-gray-dark);
}
