@import url(./utils/reset.css);
@import url(./utils/fonts.css);
@import url(./utils/variables.css);
@import url(./utils/helper.css);
@import url(./quiz.css);

/* GLOBAL */

body {
  background-color: var(--color-background);
  color: var(--color-black);
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container {
  max-width: var(--max-width-lg);
  margin: 0 auto var(--spacing-xxl);
  padding-inline: var(--spacing-sm);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
}

header .cta {
  padding: 0.5rem 1rem;
}

.nav-links {
  display: flex;
  gap: var(--spacing-xs);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-black-absolute);
}

h1 {
  font-size: var(--font-size-heading-lg);
  line-height: 1;
}

h2 {
  font-size: var(--font-size-heading-md);
  line-height: 1;
  font-weight: 600;
}

h3 {
  font-size: var(--font-size-heading-sm);
  line-height: 1.33;
}

h4 {
  font-size: var(--font-size-heading-xs);
  line-height: 1.2;
  margin-bottom: 0;
}

p {
  font-size: var(--font-size-sm);
  line-height: 1.4;
}

.article-container p {
  max-width: var(--max-width-md);
  margin-inline: auto;
}

body.quiz .article-container {
  align-items: center;
}

body.about .article-container p {
  margin-inline: unset;
}

body.about .container hr {
  margin-block: var(--spacing-md) var(--spacing-lg);
  max-width: var(--max-width-md);
}

.link-list-heading {
  margin-top: var(--spacing-sm);
  font-size: var(--font-size-heading-xs);
}

.article-container .link-list-heading + ul {
  margin-top: -1rem;
}


ul {
  list-style: none;
}

a {
  color: var(--color-anchor);
}

article li {
  line-height: 1.6;
}

/* --- */

.start,
.quiz,
.result {
  text-align: center;
}

/* CONTAINERS */

.article-container {
  display: flex;
  flex-flow: column;
  position: relative;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-xl);
}

.category-selection-container {
  display: flex;
  justify-content: center;
  gap: var(--spacing-sm);
}

#result-name {
  margin-bottom: 0.75rem;
}

#result-content {
  display: flex;
  flex-flow: column;
  gap: var(--spacing-sm);
}

.result-text-footer {
  margin-top: var(--spacing-sm);
  display: block;
}

/* --- */

.quiz-selection-text {
  font-size: var(--font-size-heading-xs);
  font-weight: 600;
  line-height: 1.2;
  margin-top: var(--spacing-sm);
  margin-bottom: 0;
}

.quiz-selection-text > span {
  display: inline-block;
}

/* CONFETTI */

canvas.confetti {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 460px;
  pointer-events: none;
  z-index: 100;
}

/* BUTTONS */

.cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem 1rem;
  height: 2.825rem;
  border-radius: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-black-absolute);
  border: 1.5px solid var(--color-black-absolute);

  transition: all .2s ease-in-out;
  transition-property: background-color, color;
}

.cta:hover {
  background-color: var(--color-black);
}

.cta.cta-inverted {
  color: var(--color-black-absolute);
  background-color: var(--color-white);
}

.cta.cta-inverted:hover {
  color: var(--color-white);
  background-color: var(--color-black-absolute);
}


/* Desktop up */
@media (width >= 62.5rem) {
  header {
    margin-top: var(--spacing-xl);
  }

  .container {
    padding-inline: var(--spacing-xl);
  }
}

/* Tablet Only */
@media (width < 62.5rem) and (width >= 48rem) {
  .container {
    padding-inline: var(--spacing-md);
  }
}

/* Tablet Up */
@media (width >= 48rem) {
  header {
    align-items: center;
  }

  .cta {
    font-size: var(--font-size-sm);
    height: 3.125rem;
  }

  .quiz-selection-text {
    font-size: var(--font-size-heading-sm);
  }
}

/* Tablet Up */
@media (width >= 48rem) {
  header {
    align-items: center;
  }

  .cta {
    font-size: var(--font-size-sm);
  }

  .quiz-selection-text {
    font-size: var(--font-size-heading-sm);
  }
}

/* Mobile */
@media (width < 48rem) {
  .header-logo {
    width: 115px;
    height: 50px;
  }

  #result-content img {
    width: 15rem;
    height: auto;
  }
}



