/* HIDDEN */

.hidden {
  display: none;
}

.gradient-horizontal {
  background: var(--gradient-linear-horizontal);
  background-clip: text;
  color: transparent;
}

.no-wrap-text {
  white-space: nowrap;
}
